* {
	font-family: 'Roboto', 'font-awesom', sans-serif;
}
/* Begin Header */
.top-navbar {
    padding: 5px 0px;
    position: relative;
    height: 130px;
}

.top-navbar .contact-text {
	font-family: 'Roboto', sans-serif;
	font-size: 20px;
	color: rgba(46, 45, 45, 255);
	text-align: left !important;
}

.top-navbar .phone-text {
	font-family: 'Lato', sans-serif;
	font-style: italic;
	font-size: 20px;
	text-align: left !important;
	color: #259f58;
}

.top-navbar .contact-buttons .btn {
	margin-left: 30px; 
	font-size: 13px;
	font-weight: 400; 
	border-radius: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
}

.bottom-navbar {
	background: #259f58 !important;
	padding-left: 30px;
	padding-right: 30px;
}

.bottom-navbar .navbar-nav .nav-link {
	padding-left: 25px;
	padding-right: 25px;
	font-size: 15px;	
	color: #fff !important;
}

.bottom-navbar .form-search {
	max-width: 270px;
    width: 100%;
}

.bottom-navbar .form-search .input-group {
    width: 100%;
}

.bottom-navbar .form-control {
	color: #000 !important;
	font-size: 14px;
	border-radius: 10px;
	border-color: #afafaf;
	border: 0px; 
}

.bottom-navbar .form-search .btn {
	background: #fff;
	color: #259f58;
	font-size: 15px;
	border-radius: 0px 10px 10px 0px;
	border: none;
}
/* End Header */

/* Begin cover */
.cover {    
	background-image: url('./../img/cover.png');
	background-repeat: no-repeat;
    background-position: center center;
    padding-top: 425px;
    height: 600px;
}

.cover .serach-form {
	width: 100%;
}

.cover .serach-form .form-group {
	margin-bottom: 0px !important;
}

.cover .serach-form .tab-content>.tab-pane {
	padding: 10px 30px 15px;
	border-radius: 10px !important;
	background: #fff;
}

.cover .serach-form .tab-content {
    background: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgba(0, 0, 0, .3);
}

.cover .serach-form .nav-tabs .nav-item {
    background: #fff;
    border-radius: 10px 10px 0px 0px;
    margin-left: 9px;
}

.cover .serach-form .nav-tabs .nav-link:hover,
.cover .serach-form .nav-tabs .nav-link {
	text-transform: uppercase;
    font-size: 15px;
    padding-top: 8px;
    padding-bottom: 8px;
    border: 0px !important;
    font-weight: 500;
    color: #259f58;
    box-shadow: inset 0px -2px 3px 0px rgba(0, 0, 0, .3);
}

.cover .serach-form .tab-content>.tab-pane .nav-tabs {
	background: transparent;
    border-bottom: 1px solid transparent;
}
.cover .serach-form .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #fff !important;
    background-color: #92c352;
    border-radius: 10px 10px 0px 0px;
}

.cover .serach-form .form-group label {
    margin-bottom: 4px;
    font-size: 15px;
}

.cover .serach-form .form-group .form-control {
	font-size: 14px;
	border-radius: 10px;
	border-color: #afafaf;
}

.main .description {
	padding-top: 70px;
	padding-bottom: 55px;
}

.main .description h1 {
	margin-bottom: 30px;
	font-weight: bold;
}

.main .description p {
    margin-bottom: 30px;
    font-size: 20px;
    font-family: 'Roboto', monospace;
    font-weight: 300;
    margin-bottom: 0px;
}

.main .carousel-card {
	max-width: 330px;
	height: 278px;
	position: relative;
}

.main .carousel-card .card-carousel-image {
	max-width: 100%;
	height: 100%;
}

.main .carousel-card .carousel-card-description {
    position: absolute;
    display: block;
    width: 100%;
    bottom: 0;
    padding: 8px 10px;
    color: #fff;
    background: rgba(0, 0, 0, 0.7) !important;
}

.main .carousel-card .carousel-card-description .price {
	font-size: 20px;
	font-weight: bold;
}

.main .carousel-card .carousel-card-description .title {
    font-size: 15px;
    font-weight: 300;
    margin-bottom: 5px;
    display: block;
}

.main .carousel-card .carousel-card-description .btn {
    padding-top: 1px;
    padding-bottom: 1px;
    font-size: 13px;
    text-transform: uppercase;
}

.main .owl-theme .owl-dots .owl-dot span {
    width: 15px;
    height: 15px;
    margin: 5px 7px;
    background: #fff;
    display: block;
    -webkit-backface-visibility: visible;
    transition: opacity .2s ease; 
    border-radius: 30px;
    border: 2px solid #D6D6D6;
}

.gallery {
	padding-top: 55px;
	border-bottom: 1px solid #e6e5e4;
}

.gallery h1 {
	margin-bottom: 55px;
	font-weight: bold;
}

.gallery .image-gallery {
    height: 252px;
    width: 100%;
    margin-bottom: 50px;
}

.gallery .title {
    position: absolute;
    display: block;
    top: 0px;
    right: 15px;
    color: #fff;
    text-transform: uppercase;
    font-size: 20px;
    background: #80ab4e;
    padding: 5px 10px;
}

.cards-with-image {
	padding-top: 50px;
	border-bottom: 1px solid #e6e5e4;
}

.cards-with-image .card {
	border-radius: 0px;
	border-color: #e6e5e4;
	margin-bottom: 50px;
}

.cards-with-image .card .card-body {
	position: relative;		
	padding: 0px;
	height: 250px;
}

.cards-with-image .card .card-body img {
	width: 100% !important;
	height: 100% !important;
}


.cards-with-image .card .card-body .description {
    position: absolute;
    top: 0;
    left: 0;
	padding-left: 25px;
	padding-right: 25px;
	height: 100% !important;
	background: rgba(255, 255, 255, 0.8);
	color: #636363;
}

.cards-with-image .card .card-body .description p {
    font-size: 15px;
    font-family: 'Roboto', monospace;
    font-weight: 300;
    margin-bottom: 5px;
}

.cards-with-image .card .card-body .description p .fa {
    color: #26a059;
}

.cards-with-image .card .card-body .description h3 {
    font-size: 25px;
    margin-bottom: 20px;
}

.cards-with-image .card .card-footer {
    background: #fff;
}

.cards-with-image .card .card-footer .row p {
    margin-bottom: 0px;
    color: #636363;
    font-size: 15px;
}

.cards-with-image .card .card-footer .row p span {
    font-size: 25px;
    font-weight: bold;
    color: #000;
    margin-left: 3px;
    margin-right: 3px;
}

.cards-with-image .card .card-footer .row .btn {
    font-size: 14px;
    padding-top: 4px;
    padding-bottom: 4px;
    border-radius: 10px;
    text-transform: uppercase;
}

.widgets {
	padding-top: 50px;
	margin-bottom: 20px;
}

.widgets .widget .card {
	border-radius: 0px;
}

.widgets .widget .card .card-body {
	padding: 12px 14px;
}

.widgets .widget .card .card-body .title h2 {
    display: inline-block;
    text-transform: uppercase;
    margin-top: 10px;
    margin-left: 15px;
    color: #646363;
}

.widgets .widget .card .card-body .title {
    display: inline-block;
    text-transform: uppercase;
    margin-left: 15px;
    color: #555454;
    padding-bottom: 15px;
    margin-bottom: 15px;
	border-bottom: 1px solid #2125292b;
}

.widgets .widget .card .card-body .body {
    color: #555454;
}

.widgets .widget .card .card-body .body h3 {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 15px;
}

.widgets .widget .card .card-body .body p {
	font-size: 14px;
	margin-bottom: 15px;
}

.widgets .widget .card .card-body .body .feautred p {
	font-size: 14px;
	margin-bottom: 2px;
	text-align: left;
}

.widgets .widget .card .card-body .body .feautred {
	max-width: 420px;
	margin: 0 auto;
}

.widgets .widget .card .card-body .body .feautred p .fa {
	color: #26a059;
}

.widgets .widget .card .card-body .body .btn-success {
	padding-top: 2px;
	padding-bottom: 2px;
	border-radius: 10px;
	font-size: 17px;
	margin-top: 10px;
}

.widgets .widget .card .card-body .body .fa {
	font-size: 14px;
}

.widgets .widget .card .card-body .body .text-footer {
	margin-bottom: 0px !important;
	margin-top: 15px;
}

.widgets .widget .card .card-body .body .text-footer a {
	font-weight: bold;
	color: #249e57;
}

.widget-left img {
	width: 100%; 
	height: 100%;
	min-height: 310px;
}

.widget-left .btn-success-light {
    position: absolute;
    bottom: 25px;
    right: 43px;
    padding: 5px 31px;
    font-size: 20px;
    font-weight: 300;
    border-radius: 30px;
}

.top-footer {
	background: #f5f5f5;
	padding-top: 35px;
	padding-bottom: 35px;
	text-align: center;
	color: #636363; 
}

.top-footer h2 {
    padding-bottom: 60px;
    font-size: 30px;
    font-weight: bold;
    color: #2e2d2d;
}

.top-footer .text-description {
    font-size: 15px;
    margin-bottom: 40px;
}

.top-footer .card {
    background: transparent;
    border: 0px;
}

.top-footer .card .card-header {
    padding-top: 20px;
    padding-bottom: 20px;
    color: #249e57;
    background: transparent;
    border: 0px;
    font-weight: bold;
}

.top-footer .card .card-body {
	padding-top: 10px;
    font-size: 15px;
    text-align: justify-all;
}

.main-footer {
	background: #e8e7e7;
	padding-top: 35px;
	padding-bottom: 35px;
	color: #636363;
}

.main-footer .logo-meduim {
	width: 100%; 
    height: 100%;
    max-width: 204px;
    max-height: 176px;
}

.main-footer h3 {
    font-size: 20px;
	margin-bottom: 10px;
}

.main-footer p {
    font-size: 15px;
}

.main-footer .contact-info {
    margin-top: 30px;
}

.main-footer .contact-info p {
    margin-bottom: 12px;
    font-size: 14px;
}

.main-footer .contact-info span {
    display: inline-block;
    border-radius: 60px;
    color: #fff;
    background: #249e57;
	padding: 0.3em 0.5em;
    margin-right: 6px;
}

.main-footer .contact-info .fa-phone {
	padding: 0.3em 0.4em;
}

.main-footer .contact-info .fa-envelope {
    padding: 0.3em 0.4em;
    font-size: 14px;
}

.main-footer .geleries img {
    margin-top: 5px;
}

.main-footer .newsletters p {
    font-size: 12px;
}

.main-footer .newsletters {
    padding-left: 50px;
}

.main-footer .newsletters .form-control {
    border: 0px;
    height: 43px;
    background: #a3cc68;
    /*border: 1px solid #939497;*/
	border-right: 0px;
}

.main-footer .newsletters .input-group {
    background: #a3cc68;
    border-radius: 10px;
    border: 1px solid #939497;
}

.main-footer .newsletters .input-group .btn {
    border: 0px;
    font-size: 25px;
    padding: 1px 13px;
    background: #249e57;
    color: #fff;
    border-radius: 10px 10px 10px 10px;
}

.social-links {
	margin-top: 20px;
}

.social-links a {
	background: #249e57;
    text-align: center;
	float: left;
	width: 36px;
	height: 36px;
	border-radius: 100%;
	margin-right: 7px;

} 
.social-links a i{
	font-size: 20px;
    line-height: 38px;
	color: #fff;
}

.footer-bottom .navbar {
	background: #239d56 !important;
	color: #fff;
}

.footer-bottom .navbar .nav-link {
	color: #fff !important;
	margin-right: 40px;
}

/* End cover */
/* Override bs 4 classes */
.btn-outline-success {
	color: #000;
}

.btn-outline-success:hover {
	color: #fff;
	background: #259f58;
}

.btn-success {
	background: #259f58;
}

.btn-success-light {
	background: #92c352;
	border-color: #92c352;
}

.btn:focus, .btn:active,
input:focus, input:active,
.form-control:focus, .form-control:active {
   outline: none !important;
   box-shadow: none;
}

.ui-datepicker {
	font-size: 13px !important;
    font-weight: 400 !important;
}

.owl-theme .owl-dots .owl-dot.active span, .owl-theme .owl-dots .owl-dot:hover span {
    background: #259f58;
    border-color: #5fc6c5;
}

.owl-theme .owl-nav.disabled+.owl-dots {
    margin-top: 20px;
}
/* Begin Helpers */
.pr-30 {
	padding-right: 30px;
}

.pl-30 {
	padding-left: 30px;
}

.border-left {
	border-left: 1px solid #b3b3b3;
}

.with-icon-right .form-control{
	font-size: 14px;
	border-radius: 10px;
	max-width: 300px;
	border-color: #e6e5e4;
	background: #f8f8f8;
	padding: 15px !important;
	border-right: 0px;
}

.with-icon-right .btn {
    font-size: 14px;
    color: #92c352;
    border-color: #e6e5e4;
	background: #f8f8f8;
    border-radius: 1px 10px 10px 1px;
    border-width: 1px 1px 1px 0px !important;
}

.bg-gray {
	background: #efeeed !important;
}

.text-bold {
	font-weight: bold !important; 
}

.mt-15 {
	margin-top: 15px !important;
}
/* End Helpers */
